<a href="https://colab.research.google.com/github/swarnava-96/Advanced-Python-for-Data-Science/blob/main/8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **is VS ==**

In [2]:
list1 = ["swarnava1", "swarnava2", "swarnava1"]
list2 = ["swarnava1", "swarnava2", "swarnava1"]

In [3]:
# Checking with ==
list1 == list2

True

In [4]:
# Chacking with 'is'
list1 is list2

False

In [10]:
# Now lets see another case

list3 = ["Swarnava", "Swarnava1", "Swarnava2"]
list4 = list3

In [11]:
list3 is list4

True

In [12]:
list4 is list3

True

Here both list3 and list4 are referencing the same memory location hence, True.

### Mutability

In [14]:
list3[0] = "Mukherjee"

In [16]:
list3

['Mukherjee', 'Swarnava1', 'Swarnava2']

In [17]:
list4

['Mukherjee', 'Swarnava1', 'Swarnava2']

# **Shallow Copy vs Deep Copy**
* =
* .copy()
* deepcopy()

### using " = "

In [20]:
list1 = [1, 2, 3, 4]
list2 = list1

In [21]:
list2[1]

2

In [22]:
list2[1] = 1000

In [23]:
list2

[1, 1000, 3, 4]

In [24]:
list1

[1, 1000, 3, 4]

Both the lists are referencing the same memory location.

### Shallow Copy

In [26]:
list1 = [1, 2, 3, 4]
list2 = list1.copy()

In [28]:
list1[1] = 1000

In [29]:
list1, list2

([1, 1000, 3, 4], [1, 2, 3, 4])

Here both are having different memory location.

In [30]:
# Lets use Shallow Copy in nested lists

list1 = [[1, 2, 3, 4], [5, 6, 7, 8]]
list2 = list1.copy()

print(list1)
print(list2)

[[1, 2, 3, 4], [5, 6, 7, 8]]
[[1, 2, 3, 4], [5, 6, 7, 8]]

In [32]:
# Lets alter the value of an object(not a item) in list1

list1[1][0] = 1000

In [33]:
# lets check out our list1 and list2

print(list1)
print(list2)

[[1, 2, 3, 4], [1000, 6, 7, 8]]
[[1, 2, 3, 4], [1000, 6, 7, 8]]

Here, we can see that Shallow Copy works only with list items and not with objects. Inside a Nested lists lists are considerd as items and the values within those lists are objects. Objects refer the same memory location.

In [34]:
# Lets use append

list1.append([1, 2, 3, 4])
print(list1)
print(list2)

[[1, 2, 3, 4], [1000, 6, 7, 8], [1, 2, 3, 4]]
[[1, 2, 3, 4], [1000, 6, 7, 8]]

Here, we see that the list gets appended to list1 and not list 2 as these nested lists are considered as items and not objects.

### Deep Copy

In [35]:
import copy

list1 = [1, 2, 3, 4]
list2 = copy.deepcopy(list1)

In [36]:
print(list1)
print(list2)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [37]:
# Lets alter an element of list1 and check its impact on list2

list1[0] = 1000

print(list1)
print(list2)

[1000, 2, 3, 4]
[1, 2, 3, 4]

For normal lists Shallow Copy = Deep Copy

In [38]:
# Lets see whether deep copy works with nested list or not

list1 = [[1, 2, 3, 4], [1, 2, 3, 4]]
list2 = copy.deepcopy(list1)

print(list1)
print(list2)

[[1, 2, 3, 4], [1, 2, 3, 4]]
[[1, 2, 3, 4], [1, 2, 3, 4]]

In [40]:
# Lets alter an object within the nested list 

list1[0][1] = 100

In [41]:
# Lets check our both lists

print(list1)
print(list2)

[[1, 100, 3, 4], [1, 2, 3, 4]]
[[1, 2, 3, 4], [1, 2, 3, 4]]

Here, Shallow copy != Deep copy