<a href="https://colab.research.google.com/github/swarnava-96/Advanced-Python-for-Data-Science/blob/main/_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Zip Function- Easy Parallel Iteration for Multiple Iterators**

In [1]:
# Creating two iterables

list1 = ["Swarnava", "Pushpok", "Abhishek"]
list2 = [25, 24, 25]

In [13]:
# using zip func

output = zip(list1, list2)

In [3]:
output

In [4]:
# Typecasting to a list

list(output)

[('Swarnava', 25), ('Pushpok', 24), ('Abhishek', 25)]

In [7]:
# Zip object is an iterator

next(output)

('Swarnava', 25)

In [8]:
next(output)

('Pushpok', 24)

In [9]:
next(output)

('Abhishek', 25)

In [10]:
next(output)

StopIteration: ignored

In [12]:
# we can use for loop to iterate each element in output

for i in output:
  print(i)

('Swarnava', 25)
('Pushpok', 24)
('Abhishek', 25)

Here above, it is considering each tuple as an object.

In [14]:
# To access each element of both the tuples we should iterate through i and j

for i,j in output:
  print(i,j)

Swarnava 25
Pushpok 24
Abhishek 25

In [15]:
# Lets craete another list

list1 = ["Swarnava", "Pushpok", "Abhishek"]
list2 = [25, 24, 25]
list3 = ["Data Science", "Accounts", "IT"]

output = zip(list1, list2, list3)

# To access each element of the tuples we should iterate through i,j and k

for (i, j, k) in output:
  print(i, j, k)

Swarnava 25 Data Science
Pushpok 24 Accounts
Abhishek 25 IT

In [16]:
# Lets create two dictionaries and try out with zip functions

dict1 = {"first_name" : "Swarnava", "last_name" : "Mukherjee", "age" : 25}
dict2 = {"first_name" : "Abhishek", "last_name" : "Roy", "age" : 25}

# Lets use zip

dictionary = zip(dict1.items(), dict2.items())

# lets use for loop

for (i, j), (i2, j2) in dictionary:
  print(i, j)
  print(i2, j2)

first_name Swarnava
first_name Abhishek
last_name Mukherjee
last_name Roy
age 25
age 25

In [17]:
dict1

{'age': 25, 'first_name': 'Swarnava', 'last_name': 'Mukherjee'}

In [18]:
dict2

{'age': 25, 'first_name': 'Abhishek', 'last_name': 'Roy'}